name: Deploy SQL Scripts

on:
  push:
    branches:
      - main

jobs:
  deploy-sql:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run SQL Scripts on Local SQL Server (Windows Auth)
        shell: powershell -ExecutionPolicy Bypass -Command "{0}"
        run: |
          sqlcmd -S localhost\SQLEXPRESS -d testDB -E -i sql/create_table.sql
